<div class="job">
  <%= link_to job.title, job_path(job) %>
  <div class="job__actions">
    <%= button_to "Delete",
                  job_path(job),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_job_path(job),
                class: "btn btn--light" %>
  </div>
</div>
