<main class="container">
  <div class="header">
    <h1>Jobs</h1>
    <%= link_to "New job",
                new_job_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @jobs %>
</main>
