<main class="container">
  <%= link_to sanitize("&larr; Back to jobs"), jobs_path %>
  <div class="header">
    <h1>
      <%= @job.title %>
    </h1>
  </div>
  <div><%= @job.description %></div>
</main>
